
body{
  background: url(aestethicaf.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: center;

}

form {

  width: 300px;
  margin-top: 190px;
  margin-left: 500px;
  text-align: center;
}
label
{
  color: white;
  text-align: center;
  display: inline-block;
}
input[type=text]{
  
  
  font-family: cursive;
   border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 85%;
       border-bottom: 1px solid #33FFFF;
     margin: 0;
  text-align: center;
}

input[type=submit]{
  background-color: #00CED1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}
input[type=number]{
  background: none;
  border: none;
  border-bottom: 1px solid #33FFFF;
  color: white;
}
input[type=password]{
   border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 85%;
       border-bottom: 1px solid #33FFFF;
     margin: 0;
  text-align: center;
}